language: node_js
node_js: "8"
os:
  - linux
  - osx
env:
  - TARGET_ARCH=x64
matrix:
  include:
    - os: linux
      env: TARGET_ARCH=arm
    - os: linux
      env: TARGET_ARCH=ia32
    - os: linux
      env: TARGET_ARCH=arm64
    - os: osx
      osx_image: xcode7.3
cache:
  directories:
    - "node_modules"
install:
  - npm install
  - npm install npm install istanbul coveralls --save-dev
script:
  - npm test
jobs:
  include:
    - stage: Produce Coverage
      node_js: node
      script: node_modules/.bin/istanbul cover node_modules/.bin/tape test.js && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
branches:
  only: master